---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

interface Props {
  /** 保障措施标题 */
  title: string
  /** 保障措施描述 */
  description: string
  /** 图标资源 */
  icon: ImageMetadata
  /** 图标背景颜色 */
  iconBgColor?: string
}

const { title, description, icon, iconBgColor = 'bg-primary' } = Astro.props
---

<div
  class="rounded-card group flex h-[253px] flex-col rounded-[18px] bg-light-bg p-8 transition-all hover:shadow-lg lg:h-[400px] lg:rounded-[32px] lg:p-10"
>
  <!-- 图标 -->
  <div class="mb-4 md:mb-6 lg:mb-8">
    <div
      class={`${iconBgColor} rounded-full w-[40px] h-[40px] md:w-[54px] md:h-[54px] lg:w-[70px] lg:h-[70px] overflow-hidden`}
    >
      <Image
        src={icon}
        alt=""
        class="size-full transition-all group-hover:scale-110"
      />
    </div>
  </div>

  <!-- 标题 -->
  <h3
    class="text-heading-3 font-normal leading-tight text-black lg:mt-14 lg:whitespace-normal"
  >
    {title}
  </h3>

  <!-- 描述 -->
  <p
    class="mt-auto text-sm leading-relaxed text-black md:text-sm lg:mt-6 lg:text-base"
  >
    {description}
  </p>
</div>
