---
import Button from '../Button.astro'
---

<section
  id="hero-section"
  class="rounded-header section-margin relative overflow-hidden bg-gradient-to-r from-dark via-dark-900 to-dark pb-12 pt-16 md:pb-20 lg:pb-32 lg:pt-36"
>
  <!-- 背景装饰 -->
  <div class="absolute inset-0 opacity-10">
    <div
      class="absolute right-10 top-10 h-64 w-64 rounded-full bg-primary blur-3xl md:right-20 md:top-20 md:h-96 md:w-96"
    >
    </div>
    <div
      class="absolute bottom-10 left-10 h-64 w-64 rounded-full bg-blue-400 blur-3xl md:bottom-20 md:left-20 md:h-96 md:w-96"
    >
    </div>
  </div>

  <!-- 英雄区域 -->
  <div
    class="relative mx-auto mt-8 max-w-5xl px-4 text-center md:mt-12 md:px-6 lg:mt-16"
  >
    <h1 class="text-heading-hero mb-6 text-center md:mb-8">全球合规</h1>
    <p class="text-description mx-auto mb-6 max-w-3xl md:mb-8 lg:mb-10">
      在VSTAR,安全与合规是我们一切工作的基石。我们承诺以最高标准要求自己,严格遵守运营所在地的法律法规,并接受多重国际监管机构的监督,以确保我们的技术和服务始终处于最安全、最可靠的状态。
    </p>
    <Button variant="primary" size="md"> 联系我们 </Button>
  </div>
</section>
