---
/**
 * 安全措施特性卡片组件
 *
 * @description 展示安全措施特性，包括图标、标题和描述
 * @example
 * <SecurityFeature
 *   title="数据安全"
 *   description="我们采用银行级的AES-256加密技术..."
 *   iconName="data-security"
 * />
 */

interface Props {
  /** 特性标题 */
  title: string
  /** 特性描述 */
  description: string
  /** 图标名称 */
  iconName?: string
}

const { title, description, iconName } = Astro.props
---

<div class="flex w-full flex-col gap-2 md:gap-4 lg:gap-6">
  <!-- 图标 -->
  {
    iconName && (
      <div class="h-[42px] w-[42px] md:h-[54px] md:w-[54px] lg:h-[66px] lg:w-[66px]">
        {iconName === 'data-security' ? (
          <svg
            class="size-full"
            width="42"
            height="42"
            viewBox="0 0 42 42"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.25 13.65V8.4C5.25 7.56457 5.58187 6.76335 6.17261 6.17261C6.76335 5.58187 7.56457 5.25 8.4 5.25H33.6C34.4354 5.25 35.2366 5.58187 35.8274 6.17261C36.4181 6.76335 36.75 7.56457 36.75 8.4V27.3C36.75 28.1354 36.4181 28.9366 35.8274 29.5274C35.2366 30.1181 34.4354 30.45 33.6 30.45H22.05"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M5.25 8.4V13.65V26.5125C5.25 28.6872 7.01288 30.45 9.1875 30.45H33.6C34.4355 30.45 35.2366 30.1181 35.8274 29.5274C36.4181 28.9366 36.75 28.1355 36.75 27.3V8.4C36.75 7.56457 36.4181 6.76335 35.8274 6.17261C35.2366 5.58187 34.4355 5.25 33.6 5.25H8.4C7.56457 5.25 6.76335 5.58187 6.17261 6.17261C5.58187 6.76335 5.25 7.56457 5.25 8.4Z"
              fill="url(#paint0_linear_2249_4297)"
              fill-opacity="0.24"
            />
            <path
              d="M30.4508 36.75H22.0508M36.7508 26.25H27.3008"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.25 30.4492L27.3 36.7492"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.9375 19.9516C3.9375 19.3946 4.15875 18.8605 4.55258 18.4667C4.9464 18.0728 5.48055 17.8516 6.0375 17.8516H14.4375C14.9944 17.8516 15.5286 18.0728 15.9224 18.4667C16.3163 18.8605 16.5375 19.3946 16.5375 19.9516V34.6516C16.5375 35.2085 16.3163 35.7426 15.9224 36.1365C15.5286 36.5303 14.9944 36.7516 14.4375 36.7516H6.0375C5.48055 36.7516 4.9464 36.5303 4.55258 36.1365C4.15875 35.7426 3.9375 35.2085 3.9375 34.6516V19.9516Z"
              fill="url(#paint1_linear_2249_4297)"
              fill-opacity="0.24"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              opacity="0.4"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.44922 32.55C9.44922 31.9701 9.91621 31.5 10.4923 31.5H10.5061C11.0822 31.5 11.5492 31.9701 11.5492 32.55C11.5492 33.1299 11.0822 33.6 10.5061 33.6H10.4923C9.91621 33.6 9.44922 33.1299 9.44922 32.55Z"
              fill="white"
            />
            <defs>
              <linearGradient
                id="paint0_linear_2249_4297"
                x1="36.75"
                y1="30.8437"
                x2="13.125"
                y2="19.0312"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_2249_4297"
                x1="10.2375"
                y1="17.8516"
                x2="10.2375"
                y2="36.7516"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" stop-opacity="0" />
                <stop offset="1" stop-color="white" />
              </linearGradient>
            </defs>
          </svg>
        ) : null}

        {iconName === 'operation-security' ? (
          <svg
            class="size-full"
            width="42"
            height="42"
            viewBox="0 0 42 42"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.63142 2.59881C9.36712 1.86274 10.365 1.44922 11.4053 1.44922H12.713C13.4352 1.44922 14.0206 2.03498 14.0206 2.75753V7.99078C14.0206 8.71336 14.606 9.29909 15.3283 9.29909H23.1741C23.8963 9.29909 24.4817 8.71336 24.4817 7.99078V2.75753C24.4817 2.03498 25.0672 1.44922 25.7894 1.44922H28.4046L34.7184 7.76627C35.6994 8.74777 36.2505 10.0788 36.2505 11.4668V26.3072C36.2505 27.348 35.8371 28.3464 35.1014 29.0825C34.3658 29.8185 33.3679 30.2321 32.3276 30.2321H11.4053C9.23871 30.2321 7.48242 28.4749 7.48242 26.3072V5.37416C7.48242 4.33326 7.89573 3.33489 8.63142 2.59881Z"
              fill="url(#paint0_linear_2255_2175)"
              fill-opacity="0.24"
            />
            <path
              d="M7.48242 13.224V5.37416C7.48242 4.33326 7.89573 3.33489 8.63142 2.59881C9.36712 1.86274 10.365 1.44922 11.4053 1.44922H12.713C13.4352 1.44922 14.0206 2.03498 14.0206 2.75753V7.99078C14.0206 8.71336 14.606 9.29909 15.3283 9.29909H23.1741C23.8963 9.29909 24.4817 8.71336 24.4817 7.99078V2.75753C24.4817 2.03498 25.0672 1.44922 25.7894 1.44922H27.3214C28.015 1.44922 28.6802 1.72489 29.1707 2.21561L34.7184 7.76627C35.6994 8.74777 36.2505 10.0788 36.2505 11.4668V17.149V26.3072C36.2505 27.348 35.8371 28.3464 35.1014 29.0825C34.3658 29.8185 33.3679 30.2321 32.3276 30.2321H25.7894"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.48242 27.9317C13.04 27.9317 13.04 21.0664 13.04 21.0664C13.04 21.0664 13.04 27.9317 18.5975 27.9317C13.04 27.9317 13.04 34.797 13.04 34.797C13.04 34.797 13.04 27.9317 7.48242 27.9317Z"
              fill="white"
            />
            <path
              d="M2.25 21.3954C5.19223 21.3954 5.19223 18.4531 5.19223 18.4531C5.19223 18.4531 5.19223 21.3954 8.13446 21.3954C5.19223 21.3954 5.19223 24.3377 5.19223 24.3377C5.19223 24.3377 5.19223 21.3954 2.25 21.3954Z"
              fill="white"
            />
            <path
              d="M4.86532 32.1837H4.87839M18.5957 18.4531H18.6088M18.5957 34.7991H18.6088M13.0382 21.0685C13.0382 21.0685 13.0382 27.9338 7.48063 27.9338C13.0382 27.9338 13.0382 34.7991 13.0382 34.7991C13.0382 34.7991 13.0382 27.9338 18.5957 27.9338C13.0382 27.9338 13.0382 21.0685 13.0382 21.0685ZM5.19223 18.4531C5.19223 18.4531 5.19223 21.3954 2.25 21.3954C5.19223 21.3954 5.19223 24.3377 5.19223 24.3377C5.19223 24.3377 5.19223 21.3954 8.13446 21.3954C5.19223 21.3954 5.19223 18.4531 5.19223 18.4531Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              opacity="0.32"
              d="M21.2115 1.44922H19.9038C19.5427 1.44922 19.25 1.74195 19.25 2.10306V6.02609C19.25 6.3872 19.5427 6.67993 19.9038 6.67993H21.2115C21.5726 6.67993 21.8653 6.3872 21.8653 6.02609V2.10306C21.8653 1.74195 21.5726 1.44922 21.2115 1.44922Z"
              fill="white"
            />
            <defs>
              <linearGradient
                id="paint0_linear_2255_2175"
                x1="21.8664"
                y1="1.44922"
                x2="21.8664"
                y2="30.2321"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" stop-opacity="0" />
                <stop offset="1" stop-color="white" />
              </linearGradient>
            </defs>
          </svg>
        ) : null}

        {iconName === 'risk-warning' ? (
          <svg
            class="size-full"
            width="42"
            height="42"
            viewBox="0 0 42 42"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.30078 13.65L21.0008 5.25L35.7008 13.65V19.8009C35.7008 23.9223 34.2141 27.9052 31.5138 31.0188C28.8135 34.1322 25.0807 36.1671 21.0008 36.75C16.9209 36.1671 13.188 34.1322 10.4878 31.0188C7.78746 27.9052 6.30081 23.9223 6.30078 19.8009V13.65Z"
              fill="url(#paint0_linear_2255_2183)"
              fill-opacity="0.24"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M24.1496 20.3428V17.8492C24.1496 17.0138 23.8177 16.2126 23.227 15.6219C22.6362 15.0311 21.835 14.6992 20.9996 14.6992C20.1642 14.6992 19.363 15.0311 18.7722 15.6219C18.1815 16.2126 17.8496 17.0138 17.8496 17.8492V20.3428"
              stroke="white"
              stroke-width="1.5"
            />
            <path
              d="M15.75 25.2C15.75 26.0354 16.0819 26.8366 16.6726 27.4274C17.2634 28.0181 18.0646 28.35 18.9 28.35H23.1C23.9354 28.35 24.7366 28.0181 25.3274 27.4274C25.9181 26.8366 26.25 26.0354 26.25 25.2V21H15.75V25.2Z"
              fill="white"
              stroke="white"
              stroke-width="1.5"
            />
            <defs>
              <linearGradient
                id="paint0_linear_2255_2183"
                x1="21.0008"
                y1="5.25"
                x2="21.0008"
                y2="36.75"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" stop-opacity="0" />
                <stop offset="1" stop-color="white" />
              </linearGradient>
            </defs>
          </svg>
        ) : null}
      </div>
    )
  }

  <!-- 标题 -->
  <h3 class="text-sm font-medium text-[#f4f0ff] md:text-lg lg:text-2xl">
    {title}
  </h3>

  <!-- 描述 -->
  <p class="text-body-sm text-[rgba(239,237,253,0.7)]">
    {description}
  </p>
</div>
