---
/**
 * 时间轴节点组件
 *
 * @description 展示单个时间节点，包含时间、标题和描述，左右交替布局
 */

interface Props {
  /** 时间标记 */
  time: string
  /** 事件标题 */
  title: string
  /** 节点位置：left（左侧）或 right（右侧） */
  position: 'left' | 'right'
  /** 是否为最后一个节点 */
  isLast?: boolean
}

const { time, title, position, isLast = false } = Astro.props
---

<div class="relative flex w-full items-center">
  {
    position === 'right' ? (
      <>
        {/* 中心圆圈 */}
        <div
          class="relative z-10 flex-shrink-0"
          style="margin-left: calc(50% - 11px)"
        >
          {/* 外圆圈 */}
          <div class="flex h-[21px] w-[21px] items-center justify-center rounded-full border-2 border-[#474747] bg-white">
            {/* 内圆圈 */}
            <div class="h-[11px] w-[11px] rounded-full bg-[#474747]" />
          </div>
        </div>

        {/* 水平连接线 */}
        <div class="relative h-0.5 w-[23px] flex-shrink-0 bg-[#474747]">
          {/* 末端装饰点 */}
          <div class="absolute right-0 top-1/2 h-[7px] w-[7px] -translate-y-1/2 translate-x-1/2 rounded-full bg-[#474747]" />
        </div>

        {/* 右侧内容 */}
        <div class="flex-1 pl-3">
          <div class="text-sm font-normal text-dark md:text-[22px]">{time}</div>
          <div class="mt-1.5 max-w-[200px] text-xs text-dark md:max-w-[125px] md:text-[15px]">
            {title}
          </div>
        </div>
      </>
    ) : (
      <>
        {/* 左侧内容 */}
        <div class="flex-1 pr-3 text-right">
          <div class="ml-auto max-w-[200px] md:max-w-[125px]">
            <div class="text-sm font-normal text-dark md:text-[22px]">
              {time}
            </div>
            <div class="mt-1.5 text-xs leading-relaxed text-dark md:text-[15px]">
              {title}
            </div>
          </div>
        </div>

        {/* 水平连接线 */}
        <div class="relative h-0.5 w-[23px] flex-shrink-0 bg-[#474747]">
          {/* 末端装饰点 */}
          <div class="absolute left-0 top-1/2 h-[7px] w-[7px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#474747]" />
        </div>

        {/* 中心圆圈 */}
        <div
          class="relative z-10 flex-shrink-0"
          style="margin-right: calc(50% - 11px)"
        >
          {/* 外圆圈 */}
          <div class="flex h-[21px] w-[21px] items-center justify-center rounded-full border-2 border-[#474747] bg-white">
            {/* 内圆圈 */}
            <div class="h-[11px] w-[11px] rounded-full bg-[#474747]" />
          </div>
        </div>
      </>
    )
  }
</div>
