---
const features = [
  {
    title: '多种整合与灵活管理',
    icon: 'integration',
  },
  {
    title: '实时数据与可视化趋势分析',
    icon: 'realtime',
  },
  {
    title: '界面简洁，跨设备无缝体验',
    icon: 'interface',
  },
  {
    title: '安全保障与智能提醒',
    icon: 'security',
  },
]
---

<section class="py-16">
  <!-- 标题 -->
  <h2 class="text-heading-2 mb-8 text-white">
    See what<br />being built
  </h2>

  <!-- 功能网格 -->
  <div
    class="grid grid-cols-2 gap-x-8 gap-y-5 md:grid-cols-2 md:gap-4 xl:grid-cols-4"
  >
    {
      features.map((feature) => (
        <div class="flex items-center gap-3 md:rounded-full md:p-4 lg:bg-[#1F2123] lg:p-6">
          <div class="flex size-12 shrink-0 items-center justify-center lg:size-14">
            {feature.icon === 'integration' && (
              <svg
                class="lg:size-full"
                width="35"
                height="38"
                viewBox="0 0 35 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.7749 37.9645C29.9477 37.9645 28.3425 37.9422 26.7394 37.9766C26.2024 37.9868 26.0266 37.6285 25.8025 37.2601L18.0764 24.5833C17.4969 23.6421 17.4969 23.6462 16.9522 24.555C14.3987 28.7549 11.8297 32.9428 9.30522 37.1609C8.9305 37.7843 8.5326 38.0191 7.8411 37.9827C6.6532 37.9179 5.46144 37.9827 4.27354 37.9564C4.00698 37.9564 3.64192 38.1244 3.50092 37.8005C3.38309 37.5435 3.67669 37.3249 3.80803 37.1063C5.94561 33.5884 8.08641 30.0719 10.2304 26.5568C10.3482 26.3665 10.4545 26.1682 10.5665 25.9718C10.2671 25.7067 9.96967 25.816 9.69925 25.816C6.77489 25.8059 3.8486 25.7836 0.924236 25.8281C0.186385 25.8403 -0.0415397 25.6075 0.0222014 24.8586C0.087875 24.0193 0.087875 23.1759 0.0222014 22.3366C-0.0531289 21.4318 0.201836 21.1444 1.11546 21.1525C6.87147 21.1991 12.6255 21.1748 18.3816 21.1748C23.5967 21.1748 28.7984 21.1889 34.0058 21.1606C34.7321 21.1606 35.0566 21.3063 34.9909 22.1463C34.9214 23.053 34.9214 23.9641 34.9909 24.8707C35.0489 25.6642 34.7475 25.82 34.0541 25.8119C31.2263 25.7735 28.3966 25.7957 25.5669 25.7957H24.3964L31.7749 37.9645Z"
                  fill="white"
                />
                <path
                  d="M31.8897 0.0131343L24.5498 12.0888H30.8949C32.021 12.0888 33.1452 12.1151 34.2693 12.0766C34.8218 12.0584 34.9975 12.2608 34.9782 12.8276C34.9415 13.8396 34.928 14.8516 34.9782 15.8637C35.0168 16.5863 34.7619 16.7624 34.1032 16.7563C30.47 16.7259 26.8387 16.7421 23.2074 16.7421C15.8153 16.7421 8.42332 16.73 1.03322 16.7603C0.249015 16.7603 -0.0600302 16.5842 0.00950543 15.7159C0.0742172 14.8097 0.0742172 13.8997 0.00950543 12.9935C-0.031057 12.2952 0.175619 12.0726 0.861318 12.0807C3.84942 12.1171 6.83945 12.0969 9.82755 12.0948C9.98208 12.0948 10.1366 12.0766 10.4746 12.0564L3.15792 0.0293303C5.03925 0.0293303 6.7506 0.0293303 8.46388 0.0293303C8.85019 0.0293303 8.94677 0.434143 9.11095 0.703345C11.7314 5.02137 14.3499 9.33401 16.9665 13.6412C17.1172 13.8882 17.2853 14.123 17.5228 14.4812C18.6605 12.6211 19.7499 10.85 20.8316 9.07493C22.5217 6.2979 24.2195 3.52288 25.8864 0.727633C26.1916 0.215542 26.5142 -0.0172264 27.111 0.000990287C28.6466 0.0434959 30.1783 0.0131343 31.8897 0.0131343Z"
                  fill="white"
                />
              </svg>
            )}
            {feature.icon === 'realtime' && (
              <svg
                class="lg:size-full"
                width="38"
                height="38"
                viewBox="0 0 38 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.7546 30.7088C15.2747 30.7088 13.0506 30.6694 10.8266 30.7236C9.36422 30.758 8.82801 30.2582 8.8798 29.1082C8.94683 27.6308 8.83411 26.1533 8.91637 24.6759C8.97121 23.7303 8.51725 23.4693 7.41438 23.5062C5.58641 23.5653 3.75844 23.4668 1.93046 23.5382C0.434574 23.5973 -0.0346012 23.0753 0.00195821 21.9327C0.0659372 20.0071 0.00195821 18.0791 0.00195821 16.151C0.00195821 14.6095 0.230453 14.4273 2.08584 14.4273C3.94124 14.4273 5.74179 14.4027 7.56976 14.4396C8.54468 14.4593 8.9316 14.1811 8.89504 13.3685C8.83411 11.891 8.87067 10.4136 8.87676 8.93611C8.88285 7.45866 9.22407 7.19272 10.985 7.18041C13.1603 7.16563 15.3356 7.18041 17.7302 7.18041C17.7302 5.30897 17.7302 3.52126 17.7302 1.73354C17.7302 0.322577 18.1141 0.00984967 19.8629 0.00984967C22.2494 -0.00328322 24.6349 -0.00328322 27.0194 0.00984967C28.7468 0.00984967 29.1246 0.339807 29.1337 1.77293C29.1337 3.52864 29.1337 5.28435 29.1337 7.22966C31.4065 7.22966 33.5239 7.22966 35.6443 7.22966C37.7648 7.22966 37.9963 7.43649 37.9994 9.14294C37.9994 11.071 37.9689 12.9991 37.9994 14.9272C38.0207 15.9737 37.4815 16.4046 36.1714 16.3874C33.6854 16.348 31.1963 16.3874 28.7103 16.3874C26.8244 16.3874 26.5776 16.1879 26.5776 14.6982C26.5776 13.2084 26.5411 11.662 26.5776 10.1451C26.5959 9.45321 26.2729 9.19712 25.429 9.22174C24.1098 9.26114 22.7876 9.26853 21.4684 9.22174C20.4509 9.18727 20.1371 9.55417 20.1523 10.32C20.1858 11.8368 20.1188 13.3561 20.1523 14.873C20.1828 15.9491 19.7075 16.4563 18.2817 16.4071C16.3593 16.3406 14.4247 16.4219 12.4931 16.3849C11.5791 16.3677 11.2105 16.6509 11.2379 17.3871C11.2775 18.4952 11.2684 19.6033 11.2379 20.7114C11.2196 21.3935 11.5761 21.6594 12.42 21.6471C14.2967 21.62 16.1765 21.6471 18.0532 21.6471C19.9299 21.6471 20.1127 21.8145 20.1249 23.3708C20.1249 24.8064 20.1614 26.242 20.1249 27.6776C20.0975 28.4877 20.3717 28.8792 21.4928 28.8324C23.1045 28.7635 24.7222 28.8152 26.5624 28.8152C26.5624 26.9635 26.5624 25.2176 26.5624 23.4693C26.5624 21.8441 26.8 21.6594 28.8565 21.6569C31.2938 21.6569 33.7311 21.684 36.1684 21.6569C37.4632 21.6372 38.0116 22.0608 37.9963 23.1172C37.9506 25.2077 37.9659 27.3033 37.9963 29.3939C37.9963 30.3197 37.5058 30.7433 36.3481 30.7334C34.3709 30.7162 32.3875 30.7654 30.4133 30.7334C29.4079 30.7137 29.0758 31.0314 29.1033 31.8218C29.1581 33.3387 29.0789 34.858 29.1307 36.3748C29.1703 37.4534 28.6188 38 27.2783 38C24.6887 38 22.0991 38 19.5125 38C18.2695 38 17.6845 37.5223 17.715 36.4709C17.7912 34.592 17.7546 32.7526 17.7546 30.7088ZM8.89504 19.0468C8.89504 16.3701 8.89503 16.3701 5.66257 16.3775C2.43011 16.3849 2.4362 16.3775 2.4362 18.9483C2.4362 21.6225 2.4362 21.6225 5.69304 21.6225C8.89199 21.6225 8.89199 21.6225 8.89504 19.0468ZM17.6632 23.5284C15.753 23.5284 14.0377 23.4988 12.3286 23.553C11.9874 23.553 11.3841 23.8879 11.3719 24.0824C11.2927 25.6141 11.3293 27.1506 11.3293 28.6699H17.6632V23.5284ZM17.6632 9.31778C11.378 8.76866 11.0368 8.99274 11.3049 13.366C11.3049 13.5285 11.2562 13.7329 11.3537 13.8585C11.5334 14.0702 11.8015 14.383 12.0392 14.3879C13.8945 14.4322 15.753 14.4125 17.6632 14.4125V9.31778ZM29.1581 28.7142H35.5042C35.5042 27.1531 35.5499 25.6461 35.4585 24.1465C35.4585 23.9248 34.8157 23.5653 34.4531 23.5481C33.0395 23.4791 31.6198 23.5481 30.2031 23.5161C29.4201 23.5013 29.1185 23.7623 29.1307 24.3878C29.1733 25.7766 29.152 27.1654 29.152 28.7142H29.1581ZM26.605 35.9291C26.605 34.3162 26.6507 32.888 26.5654 31.4648C26.5105 31.2961 26.4029 31.1417 26.253 31.0162C26.1031 30.8907 25.9159 30.7985 25.7093 30.7482C24.1926 30.6719 22.6714 30.6719 21.1546 30.7482C20.9401 30.7952 20.7437 30.8853 20.5839 31.0101C20.4241 31.135 20.306 31.2906 20.2406 31.4623C20.1364 32.6921 20.1364 33.9261 20.2406 35.1559C20.265 35.4342 20.8743 35.8946 21.2399 35.8946C22.9308 35.9734 24.6461 35.9291 26.5989 35.9291H26.605ZM35.5469 11.859C35.5469 9.19959 35.5469 9.19958 32.2443 9.2045C29.152 9.2045 29.152 9.20451 29.149 11.7679C29.149 14.4273 29.149 14.4495 32.4302 14.4199C35.8881 14.4002 35.5042 14.9296 35.5469 11.859ZM26.5868 7.18041C26.5868 5.58968 26.6385 4.16395 26.538 2.74806C26.5228 2.50181 25.886 2.09552 25.5052 2.07336C24.1495 1.98963 22.7785 2.07336 21.4136 2.0315C20.588 2.01426 20.1949 2.27774 20.1949 2.94998C20.2132 4.09254 20.131 5.24002 20.2406 6.37766C20.3063 6.56108 20.4286 6.72801 20.5959 6.86282C20.7632 6.99763 20.9701 7.09589 21.1973 7.14839C22.9156 7.23704 24.6308 7.19271 26.5868 7.19271V7.18041Z"
                  fill="#00B4FF"
                />
              </svg>
            )}
            {feature.icon === 'interface' && (
              <svg
                class="lg:size-full"
                width="35"
                height="39"
                viewBox="0 0 35 39"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.99609 1.27834L10.5107 0C10.78 0.391978 17.2027 9.53459 26.607 1.79037L27.735 3.49603C24.5886 6.0845 21.7147 7.02737 19.1957 7.02737C12.9853 7.00618 9.05947 1.35603 8.99609 1.27834Z"
                  fill="white"
                />
                <path
                  d="M31.1692 25.0628C32.1667 25.9371 33.3189 26.5665 34.5501 26.9096L35 24.8509C34.1582 24.6182 33.3636 24.2095 32.6584 23.6467C32.4454 23.4835 32.2402 23.3078 32.0437 23.1205C30.076 21.2701 28.8752 18.558 28.3777 17.1738C30.272 16.1726 32.0623 14.9434 33.7167 13.5082L32.5602 11.8273C27.462 16.1815 22.2243 17.993 16.9835 17.2055C7.79468 15.8248 1.57795 6.834 1.51775 6.74219L0.760454 7.38138L0 8.02053C0.234474 8.37366 5.1711 15.5317 13.0418 18.3674C11.7744 20.9029 7.94993 27.2416 0.462608 29.9784L1.05513 31.9912C7.01461 29.7859 11.9827 25.1066 14.9271 18.9253C15.507 19.0701 16.1058 19.1937 16.7142 19.2784C17.5995 19.4122 18.4919 19.4795 19.3853 19.4797C20.2181 19.4797 21.05 19.4195 21.8758 19.2996C21.8152 20.3871 21.9301 21.4779 22.2148 22.5202C20.2813 22.916 18.431 23.71 16.7586 24.8615C10.0824 29.4522 8.47592 38.2241 8.41254 38.5913L10.2788 39.0009C10.2788 38.9197 11.8061 30.7588 17.7757 26.6413C19.3688 25.5571 21.1395 24.8368 22.9848 24.5225C23.7006 25.9073 24.6407 27.1323 25.7573 28.135C15.9981 29.4452 14.5532 38.5313 14.5406 38.6302L16.4163 38.9833C16.4734 38.609 17.9499 29.8018 28.7738 30.1197L33.4347 30.2609L29.1952 28.0962C27.5736 27.2137 26.1622 25.9166 25.076 24.3106C27.1283 24.2519 29.1782 24.505 31.1692 25.0628ZM24.1096 22.2589C23.7822 21.1952 23.6802 20.0615 23.8118 18.9465C24.7656 18.7019 25.7036 18.3857 26.6191 18.0001C27.196 19.5766 27.951 21.0647 28.8657 22.4284C27.2907 22.1771 25.6957 22.1203 24.1096 22.2589Z"
                  fill="white"
                />
                <path
                  d="M4.38477 3.88611L5.17374 3.29637L5.96272 2.70312C6.00391 2.77375 10.3987 9.89291 17.3094 11.0371C21.4729 11.7257 25.7441 10.126 30.0058 6.2839L31.2035 7.93301C27.2333 11.5103 23.2124 13.3112 19.2168 13.3112C18.4744 13.3123 17.733 13.2509 16.9988 13.1276C9.27387 11.8352 4.58122 4.211 4.38477 3.88611Z"
                  fill="white"
                />
              </svg>
            )}
            {feature.icon === 'security' && (
              <svg
                class="lg:size-full"
                width="35"
                height="34"
                viewBox="0 0 35 34"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.15382 14.9523L0 14.3662L7.96571 0L15.5287 14.3787L14.3618 14.9398L7.93523 2.72125L1.15382 14.9523Z"
                  fill="#FF83D5"
                />
                <path
                  d="M34.3277 15.2821H19.6426V1.35938H20.9488V14.0329H34.3277V15.2821Z"
                  fill="#FF83D5"
                />
                <path
                  d="M15.2819 19.0312H0.576172V20.2805H15.2819V19.0312Z"
                  fill="#FF83D5"
                />
                <path
                  d="M15.2819 25.7812H0.576172V27.0305H15.2819V25.7812Z"
                  fill="#FF83D5"
                />
                <path
                  d="M15.2819 32.5312H0.576172V33.7805H15.2819V32.5312Z"
                  fill="#FF83D5"
                />
                <path
                  d="M28.0678 26.3256L34.7066 32.6748L33.7825 33.5576L27.1447 27.2094L20.0433 34.0011L19.1191 33.1183L26.2217 26.3266L19.2879 19.6953L20.2109 18.8125L27.1447 25.4428L34.0774 18.8125L35.0005 19.6953L28.0678 26.3256Z"
                  fill="#FF83D5"
                />
              </svg>
            )}
          </div>

          <p class="text-body-md text-white">{feature.title}</p>
        </div>
      ))
    }
  </div>
</section>
