---
import { Image } from 'astro:assets'
import Img from '../../assets/home/about.png'
import Button from '../Button.astro'
---

<section
  class="section-margin content-container items-center pt-20 md:flex md:gap-20 lg:gap-40 lg:pb-20 lg:pt-40"
>
  <div class="min-w-0 flex-1">
    <!-- 描述文字 -->
    <p class="text-body-md mb-8 text-black lg:mb-28">
      无论您是严谨的分析师还是忙碌的职场人，VS
      TRADER都是您手中不可或缺的智能工具。它不仅是软件，更是连接机遇、实践策略的可靠伙伴。
    </p>

    <!-- 按钮组 -->
    <div class="flex flex-wrap items-center gap-4 lg:gap-8">
      <!-- 关于我们按钮 -->
      <Button variant="primary" href="/about"> 关于我们 </Button>

      <!-- 技术实力链接 -->
      <a
        href="/technology"
        class="text-body-md text-black underline decoration-solid underline-offset-2 transition-opacity hover:opacity-70"
      >
        技术实力
      </a>
    </div>
  </div>
  <Image
    src={Img}
    alt=""
    class="mt-10 min-w-0 flex-1 md:mt-0 md:max-w-[496px]"
  />
</section>
