---
import Button from '../Button.astro'
import HeroBackgroundImage from '../../assets/home/hero-bg.png'
import HeroBackgroundMImage from '../../assets/home/hero-bg-m.png'
import { Image } from 'astro:assets'
// 特性标签数据
const features = [
  {
    icon: 'shield',
    text: '集中管理不同类型的数据与资源，避免频繁切换工具，提升效率。',
  },
  {
    icon: 'globe',
    text: '应用内置多种图表与指标，帮助用户捕捉关键信息，做出灵活判断。',
  },
  {
    icon: 'clock',
    text: '直观的界面设计和清晰的操作逻辑，并支持跨设备同步，保持一致的操作体验。',
  },
  {
    icon: 'lock',
    text: '高等加密和稳定的系统支持，自定义通知提醒功能，信息掌握更及时。',
  },
]
---

<section
  id="hero-section"
  class="rounded-header section-margin relative overflow-hidden bg-gradient-to-r from-dark via-dark-900 to-dark pb-12 pt-16 md:pt-24"
>
  <div class="absolute inset-0 opacity-10">
    <div
      class="absolute right-10 top-10 h-64 w-64 rounded-full bg-primary blur-3xl md:right-20 md:top-20 md:h-96 md:w-96"
    >
    </div>
    <div
      class="absolute bottom-10 left-10 h-64 w-64 rounded-full bg-blue-400 blur-3xl md:bottom-20 md:left-20 md:h-96 md:w-96"
    >
    </div>
  </div>

  <div class="absolute inset-0 hidden items-center justify-center lg:flex">
    <Image
      src={HeroBackgroundImage}
      alt="Hero Background"
      class="h-[1313px] object-contain"
    />
  </div>

  <Image
    src={HeroBackgroundMImage}
    alt="Hero Background"
    class="absolute left-0 top-0 w-full object-contain lg:hidden"
  />

  <div class="content-container relative pt-16">
    <!-- 主标题区域 -->
    <div class="pb-8 text-center md:pb-12 lg:pb-16">
      <!-- 主标题 -->
      <h1 class="text-heading-hero font-bold text-white lg:mb-8">
        VS TRADER <br />
        链接每一刻机遇
      </h1>

      <!-- 描述 -->
      <p
        class="text-description text-body-sm mx-auto my-10 md:text-lg lg:my-12 lg:max-w-[632px]"
      >
        在瞬息万变的全球市场中，机遇转瞬即逝。VS
        TRADER，源自全球领先金融科技品牌VSTAR的核心移动应用，正是为捕捉这一刻而生。
      </p>

      <!-- CTA 按钮 -->
      <Button variant="primary" size="md"> 查看详情 </Button>
    </div>

    <!-- 特性标签 -->
    <div class="pb-8 md:pb-12 lg:pb-16">
      <div class="text-heading-3 mb-5 mt-10 text-white lg:mb-10">
        我们的核心优势
      </div>
      <div
        class="grid grid-cols-2 gap-x-10 gap-y-5 md:grid-cols-2 md:gap-4 xl:grid-cols-4"
      >
        {
          features.map((feature) => (
            <div class="transition-all duration-300 md:rounded-full md:p-4 lg:bg-[#1F2123] lg:p-6">
              <div class="flex flex-col gap-2 md:flex-row md:items-center md:gap-5">
                <div class="flex size-12 shrink-0 items-center justify-center lg:size-18">
                  {feature.icon === 'shield' && (
                    <svg
                      class="lg:size-full"
                      xmlns="http://www.w3.org/2000/svg"
                      width="36"
                      height="36"
                      viewBox="0 0 36 36"
                      fill="none"
                    >
                      <path
                        d="M35.9997 4.64048C36.0129 5.71875 35.6441 6.767 34.9585 7.59993C34.2729 8.43287 33.3146 8.99685 32.2529 9.19223C31.1913 9.38761 30.0947 9.20179 29.157 8.66762C28.2192 8.13344 27.5007 7.2853 27.1284 6.2731H22.2777C21.9496 7.14257 21.364 7.89151 20.599 8.42011C19.834 8.94871 18.9259 9.23188 17.9957 9.23188C17.0655 9.23188 16.1574 8.94871 15.3924 8.42011C14.6274 7.89151 14.0418 7.14257 13.7137 6.2731H8.86298C8.63764 6.87354 8.28837 7.4199 7.83786 7.87669C7.38735 8.33348 6.84567 8.69049 6.24802 8.9245V13.7571C7.12271 14.0824 7.87689 14.6672 8.40942 15.4329C8.94195 16.1986 9.22735 17.1087 9.22735 18.0411C9.22735 18.9735 8.94195 19.8835 8.40942 20.6493C7.87689 21.415 7.12271 21.9998 6.24802 22.3251V27.1446C6.84567 27.3786 7.38735 27.7356 7.83786 28.1924C8.28837 28.6492 8.63764 29.1956 8.86298 29.796H13.7137C14.0957 28.7981 14.8155 27.9653 15.7481 27.4423C16.6808 26.9194 17.7673 26.7393 18.8191 26.9333C19.8708 27.1273 20.8213 27.6832 21.5055 28.5044C22.1896 29.3256 22.5643 30.3602 22.5643 31.4286C22.5643 32.497 22.1896 33.5317 21.5055 34.3529C20.8213 35.1741 19.8708 35.73 18.8191 35.924C17.7673 36.118 16.6808 35.9379 15.7481 35.4149C14.8155 34.892 14.0957 34.0592 13.7137 33.0613H8.86298C8.58921 33.7738 8.14123 34.4065 7.55989 34.9017C6.97854 35.3969 6.28234 35.7388 5.53478 35.8962C4.78722 36.0537 4.0121 36.0216 3.2801 35.8031C2.54811 35.5845 1.88254 35.1863 1.34412 34.6449C0.805687 34.1034 0.411525 33.4359 0.19759 32.7033C-0.0163452 31.9706 -0.0432465 31.1961 0.119334 30.4504C0.281915 29.7047 0.628809 29.0115 1.12837 28.4341C1.62793 27.8567 2.26426 27.4134 2.97933 27.1446V22.312C2.10464 21.9867 1.35046 21.4019 0.817931 20.6362C0.285404 19.8705 0 18.9604 0 18.028C0 17.0956 0.285404 16.1856 0.817931 15.4198C1.35046 14.6541 2.10464 14.0694 2.97933 13.744V8.91144C2.26426 8.6427 1.62793 8.1994 1.12837 7.62197C0.628809 7.04455 0.281915 6.35136 0.119334 5.60564C-0.0432465 4.85993 -0.0163452 4.08543 0.19759 3.35277C0.411525 2.62011 0.805687 1.95261 1.34412 1.41116C1.88254 0.869716 2.54811 0.471553 3.2801 0.252979C4.0121 0.0344058 4.78722 0.00238755 5.53478 0.159839C6.28234 0.31729 6.97854 0.659194 7.55989 1.15438C8.14123 1.64957 8.58921 2.28228 8.86298 2.9948H13.7137C14.0418 2.12533 14.6274 1.37639 15.3924 0.847786C16.1574 0.319185 17.0655 0.0360265 17.9957 0.0360265C18.9259 0.0360265 19.834 0.319185 20.599 0.847786C21.364 1.37639 21.9496 2.12533 22.2777 2.9948H27.1284C27.5007 1.9826 28.2192 1.13446 29.157 0.600281C30.0947 0.0661059 31.1913 -0.119712 32.2529 0.0756663C33.3146 0.271044 34.2729 0.835034 34.9585 1.66797C35.6441 2.5009 36.0129 3.54914 35.9997 4.62742V4.64048Z"
                        fill="#FFC200"
                      />
                    </svg>
                  )}
                  {feature.icon === 'globe' && (
                    <svg
                      class="lg:size-full"
                      xmlns="http://www.w3.org/2000/svg"
                      width="41"
                      height="30"
                      viewBox="0 0 41 30"
                      fill="none"
                    >
                      <path
                        d="M31.675 23.9686C29.3381 23.8835 27.1254 22.9013 25.5024 21.2286C23.8794 19.556 22.9726 17.3233 22.9726 15C22.9726 12.6767 23.8794 10.444 25.5024 8.77136C27.1254 7.09872 29.3381 6.11653 31.675 6.03136H40.1743V0H14.6763C10.7461 0.110738 7.01421 1.73964 4.27368 4.5406C1.53315 7.34157 0 11.0938 0 15C0 18.9062 1.53315 22.6584 4.27368 25.4594C7.01421 28.2604 10.7461 29.8893 14.6763 30H41V23.9686H31.675ZM19.5331 23.9686H14.5428C12.2058 23.8835 9.99317 22.9013 8.37018 21.2286C6.74718 19.556 5.84032 17.3233 5.84032 15C5.84032 12.6767 6.74718 10.444 8.37018 8.77136C9.99317 7.09872 12.2058 6.11653 14.5428 6.03136H19.6181C17.6645 8.61863 16.6084 11.7657 16.6084 15C16.6084 18.2343 17.6645 21.3814 19.6181 23.9686H19.5331Z"
                        fill="#2649FF"
                      />
                    </svg>
                  )}
                  {feature.icon === 'clock' && (
                    <svg
                      class="lg:size-full"
                      xmlns="http://www.w3.org/2000/svg"
                      width="40"
                      height="39"
                      viewBox="0 0 40 39"
                      fill="none"
                    >
                      <path
                        d="M20 0C30.9259 0 40 7.79945 40 17.4127C40 20.4962 38.8889 23.3984 36.6667 25.575C34.4444 27.7515 31.4815 29.0212 28.3333 29.0212H24.6296C23.8889 29.0212 23.1481 29.7468 23.1481 30.4723C23.1481 30.835 23.3333 31.1978 23.7037 31.5606C24.4444 32.2861 24.8148 33.3744 24.8148 34.4627C24.8148 37.0021 22.7778 38.9973 20.1852 38.9973C8.88889 39.1787 0 30.2909 0 19.5893C0 8.88775 8.88889 0 20 0ZM20 3.08351C14.0741 3.08351 8.51852 6.16701 5.37037 11.2457C2.22222 16.3244 2.40741 22.6728 5.37037 27.7515C8.33333 32.8303 13.8889 35.9138 20 35.9138C20.7407 35.9138 21.4815 35.1882 21.4815 34.4627C21.4815 34.0999 21.4815 33.7372 21.1111 33.5558L20.9259 33.3744C20.3704 32.4675 20 31.5606 19.8148 30.4723C19.8148 27.9329 21.8519 25.9377 24.4444 25.9377H28.1481C30.3704 25.9377 32.5926 25.0308 34.2593 23.3984C35.9259 21.7659 36.8519 19.5893 36.6667 17.4127C36.8519 9.61328 29.2593 3.08351 20 3.08351ZM30.5556 15.7803C31.4815 15.7803 32.2222 16.3244 32.5926 17.05C32.963 17.7755 32.7778 18.8638 32.037 19.4079C31.4815 19.9521 30.3704 20.1335 29.6296 19.9521C28.8889 19.5893 28.3333 18.8638 28.3333 17.9569C28.3333 16.8686 29.4444 15.7803 30.5556 15.7803ZM11.1111 14.5106C12.2222 14.5106 13.1481 15.0548 13.5185 16.1431C13.8889 17.05 13.7037 18.1383 12.963 18.8638C12.2222 19.5893 11.1111 19.7707 10.1852 19.4079C9.25926 19.0452 8.51852 18.1383 8.51852 17.05C8.51852 15.5989 9.62963 14.5106 11.1111 14.5106ZM26.6667 8.70637C27.5926 8.70637 28.5185 9.25051 28.8889 10.1574C29.2593 11.0643 29.0741 11.9713 28.3333 12.6968C27.5926 13.4223 26.6667 13.6037 25.7407 13.2409C24.8148 12.8782 24.2593 11.9713 24.2593 11.0643C24.2593 9.61328 25.1852 8.70637 26.6667 8.70637ZM17.7778 8.3436C19.2593 8.3436 20.3704 9.4319 20.3704 10.883C20.3704 12.334 19.2593 13.4223 17.7778 13.4223C16.2963 13.4223 15.3704 12.1526 15.3704 10.7016C15.3704 9.25052 16.4815 8.3436 17.7778 8.3436Z"
                        fill="white"
                      />
                    </svg>
                  )}
                  {feature.icon === 'lock' && (
                    <svg
                      class="lg:size-full"
                      xmlns="http://www.w3.org/2000/svg"
                      width="50"
                      height="50"
                      viewBox="0 0 50 50"
                      fill="none"
                    >
                      <path
                        d="M17.8398 40.0415H6.35938C4.63428 40.0415 3.23047 38.8638 3.23047 37.4165V20.3672C3.23047 18.9199 4.63428 17.7422 6.35938 17.7422H31.5234C33.2485 17.7422 34.6523 18.9199 34.6523 20.3672V29.085C34.6523 29.3652 34.4258 29.5918 34.1455 29.5918C34.0789 29.5919 34.013 29.5788 33.9515 29.5533C33.89 29.5279 33.8341 29.4906 33.787 29.4435C33.7399 29.3964 33.7026 29.3405 33.6771 29.279C33.6517 29.2175 33.6386 29.1515 33.6387 29.085V20.3672C33.6387 19.4785 32.6895 18.7559 31.5234 18.7559H6.35938C5.19336 18.7559 4.24414 19.4785 4.24414 20.3672V37.4165C4.24414 38.3052 5.19336 39.0278 6.35938 39.0278H17.8398C18.1201 39.0278 18.3467 39.2544 18.3467 39.5347C18.3467 39.8149 18.1201 40.0415 17.8398 40.0415Z"
                        fill="white"
                        stroke="white"
                        stroke-width="2"
                      />
                      <path
                        d="M21.4751 34.4673H16.4072C16.2588 34.4673 16.1172 34.4019 16.02 34.2881C15.9725 34.232 15.9377 34.1661 15.9183 34.0952C15.8988 34.0243 15.895 33.95 15.9072 33.8774L16.6465 29.439C16.6802 29.2412 16.6177 29.0449 16.479 28.9111C15.6011 28.0649 15.2227 26.8364 15.4673 25.626C15.7485 24.2324 16.8789 23.1245 18.2793 22.8701C19.3364 22.6772 20.4023 22.9561 21.2124 23.6333C22.023 24.3105 22.4883 25.3032 22.4883 26.3584C22.4883 27.3452 22.0718 28.2954 21.3442 28.9668C21.2432 29.0601 21.1978 29.2163 21.2246 29.3765L21.9751 33.8774C22 34.0239 21.9585 34.1743 21.8623 34.2881C21.8146 34.3442 21.7553 34.3893 21.6884 34.4203C21.6216 34.4512 21.5488 34.4673 21.4751 34.4673ZM17.0049 33.4536H20.877L20.2246 29.5425C20.1416 29.0395 20.3037 28.5459 20.6582 28.2212C21.1846 27.7353 21.4746 27.0728 21.4746 26.3584C21.4746 25.605 21.1421 24.8955 20.563 24.4111C19.9761 23.9214 19.2324 23.729 18.4604 23.8677C17.4795 24.0459 16.6567 24.8506 16.4609 25.8257C16.2847 26.6958 16.5552 27.5767 17.1826 28.1816C17.5615 28.5478 17.7349 29.0806 17.646 29.606L17.0049 33.4536ZM28.5703 18.7563C28.5037 18.7564 28.4378 18.7433 28.3763 18.7179C28.3148 18.6924 28.2589 18.6551 28.2118 18.608C28.1647 18.561 28.1274 18.5051 28.1019 18.4435C28.0765 18.382 28.0634 18.3161 28.0635 18.2495V14.1953C28.0635 9.16504 23.9712 5.07275 18.9409 5.07275C13.9106 5.07275 9.81836 9.16455 9.81836 14.1948V18.249C9.81836 18.5293 9.5918 18.7559 9.31152 18.7559C9.24495 18.7559 9.17901 18.7429 9.11749 18.7174C9.05597 18.692 9.00007 18.6546 8.95299 18.6076C8.90592 18.5605 8.86859 18.5046 8.84314 18.4431C8.81769 18.3815 8.80462 18.3156 8.80469 18.249V14.1948C8.80469 8.60596 13.3521 4.05859 18.9409 4.05859C24.5298 4.05859 29.0771 8.60596 29.0771 14.1948V18.249C29.0771 18.5298 28.8506 18.7563 28.5703 18.7563Z"
                        fill="white"
                        stroke="white"
                        stroke-width="2"
                      />
                      <path
                        d="M40.9634 43.0815H25.2993C22.0811 43.0815 19.4473 40.4482 19.4473 37.2295V36.77C19.4473 33.5518 22.0806 30.918 25.2993 30.918H40.9634C44.1816 30.918 46.8154 33.5513 46.8154 36.77V37.2295C46.8154 40.4482 44.1821 43.0815 40.9634 43.0815Z"
                        fill="#FFCE00"
                      />
                      <path
                        d="M25.0215 37.001C25.0215 37.4042 25.1817 37.791 25.4668 38.0761C25.752 38.3613 26.1387 38.5215 26.542 38.5215C26.9453 38.5215 27.332 38.3613 27.6172 38.0761C27.9023 37.791 28.0625 37.4042 28.0625 37.001C28.0625 36.5977 27.9023 36.211 27.6172 35.9258C27.332 35.6407 26.9453 35.4805 26.542 35.4805C26.1387 35.4805 25.752 35.6407 25.4668 35.9258C25.1817 36.211 25.0215 36.5977 25.0215 37.001Z"
                        fill="black"
                      />
                      <path
                        d="M29.752 37.001C29.752 37.4042 29.9121 37.791 30.1973 38.0761C30.4824 38.3613 30.8692 38.5215 31.2725 38.5215C31.6757 38.5215 32.0625 38.3613 32.3476 38.0761C32.6328 37.791 32.793 37.4042 32.793 37.001C32.793 36.5977 32.6328 36.211 32.3476 35.9258C32.0625 35.6407 31.6757 35.4805 31.2725 35.4805C30.8692 35.4805 30.4824 35.6407 30.1973 35.9258C29.9121 36.211 29.752 36.5977 29.752 37.001Z"
                        fill="black"
                      />
                      <path
                        d="M34.4824 37.001C34.4824 37.4042 34.6426 37.791 34.9278 38.0761C35.2129 38.3613 35.5997 38.5215 36.0029 38.5215C36.4062 38.5215 36.7929 38.3613 37.0781 38.0761C37.3632 37.791 37.5234 37.4042 37.5234 37.001C37.5234 36.5977 37.3632 36.211 37.0781 35.9258C36.7929 35.6407 36.4062 35.4805 36.0029 35.4805C35.5997 35.4805 35.2129 35.6407 34.9278 35.9258C34.6426 36.211 34.4824 36.5977 34.4824 37.001Z"
                        fill="black"
                      />
                      <path
                        d="M39.2129 37.001C39.2129 37.4042 39.3731 37.791 39.6582 38.0761C39.9434 38.3613 40.3301 38.5215 40.7334 38.5215C41.1367 38.5215 41.5234 38.3613 41.8086 38.0761C42.0937 37.791 42.2539 37.4042 42.2539 37.001C42.2539 36.5977 42.0937 36.211 41.8086 35.9258C41.5234 35.6407 41.1367 35.4805 40.7334 35.4805C40.3301 35.4805 39.9434 35.6407 39.6582 35.9258C39.3731 36.211 39.2129 36.5977 39.2129 37.001Z"
                        fill="black"
                      />
                    </svg>
                  )}
                </div>

                <div class="text-xs font-medium text-light-text lg:text-white md:text-sm">
                  {feature.text}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
