---
import { Image } from 'astro:assets'
import Article1Img from '../../assets/home/article1.png'
import Article2Img from '../../assets/home/article2.png'
const news = [
  {
    title: '拿下欧盟"通行证"！VSTAR获VASP牌照迈向全球服务新布局',
    image: Article1Img, // 需要添加实际图片
  },
  {
    title: '维信证劵已获得澳洲金融许可牌照，开启全球金融新征程！',
    image: Article2Img, // 需要添加实际图片
  },
]
---

<section class="pb-15 lg:pb-20">
  <!-- 标题 -->
  <h2 class="text-heading-1 mb-4 text-center text-white lg:mb-16">最新动态</h2>

  <!-- 新闻卡片 -->
  <div class="grid gap-6 md:grid-cols-2">
    {
      news.map((item) => (
        <article class="overflow-hidden rounded-2xl border border-[#282828] transition-transform hover:scale-[1.02] lg:rounded-3xl">
          <div>
            <Image src={item.image} alt="" />
          </div>
          {/* 内容区域 */}
          <div class="p-6 lg:py-10">
            <h3 class="text-body-md font-normal text-white">{item.title}</h3>
          </div>
        </article>
      ))
    }
  </div>
</section>
