---
// 联系卡片组件
interface Props {
  title: string
  email: string
  icon: 'media' | 'partner' | 'general'
}

const { title, email, icon } = Astro.props

const icons = {
  media: `
<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="64" height="64" rx="12" fill="black"/>
<path d="M26 32C30.1421 32 33.5 28.6421 33.5 24.5C33.5 20.3579 30.1421 17 26 17C21.8579 17 18.5 20.3579 18.5 24.5C18.5 28.6421 21.8579 32 26 32Z" stroke="white" stroke-width="2" stroke-linejoin="round"/>
<path d="M33.5005 25.4023C33.5113 25.4131 37.0427 29.854 44.0947 38.725C44.3427 39.0231 44.3227 39.4609 44.0485 39.7351L40.9859 42.7978C40.7118 43.0719 40.2739 43.0919 39.9759 42.844L27.3672 32.0008" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M33.8535 32.3516L35.9748 34.4729" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.75 47.0664C28.1875 45.1926 29.9351 44.2557 31.993 44.2557C35.0797 44.2557 38.7222 48.1338 41.8297 47.6001C44.9372 47.0664 45.8266 44.0016 43.9138 42.3047" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

  `,
  partner: `
    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="64" height="64" rx="12" fill="black"/>
<path d="M32 44L41 35L38 38L35 41L32 44ZM32 44L17 29L26 20L32 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.75 31.25L38 20L47 29L41 35L35 29L30.5 33.5L26.75 31.25ZM26.75 31.25L32 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M35 41L32.75 38.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M38 38L35.75 35.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


  `,
  general: `
    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="64" height="64" rx="12" fill="black"/>
<path d="M41.75 26C39.679 26 38 24.321 38 22.25C38 20.1789 39.679 18.5 41.75 18.5C43.821 18.5 45.5 20.1789 45.5 22.25C45.5 24.321 43.821 26 41.75 26Z" stroke="white" stroke-width="2" stroke-miterlimit="2"/>
<path d="M23 23C21.3431 23 20 21.6568 20 20C20 18.3431 21.3431 17 23 17C24.6568 17 26 18.3431 26 20C26 21.6568 24.6568 23 23 23Z" stroke="white" stroke-width="2" stroke-miterlimit="2"/>
<path d="M33.5 43.25L38 39.5V35C38 32.4004 39.5 30.5 41.75 30.5C44 30.5 45.5 32.4004 45.5 35V38.6279V45.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32 38.75L27.5 35V32C27.5 29.4004 26 27.5 23.75 27.5C21.5 27.5 20 29.4004 20 32V34.1279V45.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

  `,
}
---

<div
  class="rounded-card group flex h-full flex-col bg-light-bg p-6 transition-all hover:shadow-xl md:p-8 lg:p-10"
>
  <div class="flex flex-1 flex-col gap-6 md:gap-8">
    <!-- 图标 -->
    <div
      class="h-12 w-12 text-white transition-all group-hover:scale-110 md:h-14 md:w-14 lg:h-16 lg:w-16"
    >
      <Fragment set:html={icons[icon]} />
    </div>

    <!-- 内容 -->
    <div class="flex flex-1 flex-col justify-between">
      <div>
        <h4 class="card-title">
          {title}
        </h4>
        <p class="text-body-lg mb-6 md:mb-8 lg:mb-12">
          {email}
        </p>
      </div>

      <!-- 发送邮件链接 -->
      <a
        href={`mailto:${email}`}
        class="text-link group/link inline-flex items-center gap-2 text-primary transition-all hover:gap-4"
      >
        发送邮件
        <svg
          class="h-4 w-4 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 md:h-5 md:w-5"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
        >
          <path
            d="M7 17L17 7M17 7H9M17 7V15"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
