---
import { Image } from 'astro:assets'
import EarthImg from '../../assets/technology/earth.png'

// 技术特点数据
const features = [
  {
    title: '亚太枢纽',
    description: '香港、东京服务器集群，<15ms极速响应',
  },
  {
    title: '欧洲网络',
    description: '伦敦、法兰克福数据中心，通过MiFID II合规认证',
  },
  {
    title: '美洲节点',
    description: '纽约、温哥华办公室，SWIFT CSP认证基础设施',
  },
  {
    title: '中东非洲',
    description: '迪拜、开罗服务网点，支持伊斯兰账户',
  },
]
---

<section class="section-margin content-container">
  <h2 class="text-heading-1 mb-3 text-center md:mb-5 lg:mb-8">全球技术网络</h2>

  <!-- 说明文字 -->
  <p
    class="text-body-sm mb-12 mx-auto max-w-[90%] text-center lg:max-w-4xl"
  >
    我们在全球关键金融枢纽部署了多个高性能数据中心，包括香港、东京、伦敦和纽约，构建了低延迟、高冗余的全球私有网络。这一网络确保了我们的服务具备极高的可用性和稳定性，系统可用性达到99.99%。
  </p>


  <Image src={EarthImg} class="mx-auto xl:max-w-[1070px]" alt="" />

  <!-- 技术特点卡片 -->
  <div
    class="grid text-center grid-cols-2 mt-7 gap-4 md:grid-cols-2 md:gap-6 lg:grid-cols-4 lg:gap-8"
  >
    {features.map((feature) => <div
      class="lg:max-w-52"
    >
      <!-- 标题 -->
      <h4 class="text-body-lg font-bold lg:mb-2">
        {feature.title}
      </h4>

      <!-- 描述 -->
      <p class="text-body-sm">
        {feature.description}
      </p>
    </div>)}
  </div>
</section>
